@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
  margin: 0;
  padding: 0;
  background-color: #131418;
  overflow-x: hidden;
}

.header {
  height: 60px;
  margin-top: 30px;
  width: 90%;
  border-radius: 50px;
  margin-left: 5%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(20px);
  background-color: #23252b5e;
  z-index: 20;
}

.menu-container{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-btn-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 70%;
}

.nav-btn-container button{
  height: 100%;
  background-color: #121316;
}

.nav-btn {
  width: 25%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 30px;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  transition: .5s;
  margin-right: 15px;
}

.nav-btn:hover {
  background-color: #121316;
  color: #4d00dd;
  transition: .5s;
}


.logo {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #43bee3, #4d00dd, #e343ae);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradientShift 5s ease infinite;
  background-size: 200% 200%;
  font-family: "Londrina Outline", serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes gradientShift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.menu{
  display: flex;
  position: fixed;
  transition: 0.5s;
  align-items: center;
  width: 900px;
  height: 320px;
  margin-left: 80px;
  margin-top: 30px;
  border-radius: 40px;
  justify-content: center;
  background-color: #121316c9;
  backdrop-filter: blur(20px);
  overflow: hidden;
  z-index: 9999;
}

.menu-bars{
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}
.menu-item-container{
  width: 300px;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.menu-item-container:hover{
  background-color: #23252b;
}

.menu-item{
  width: 270px;
  margin-left: 10px;
  font-weight: 400;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 20px;
  color: #e0e0e0
  ;
}

.right-menu{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  height: 100%;
}

.right-menu::before{
  width: 2px;
  background-color: #23252b;
  height: 90%;
  position: absolute;
  content: '';
  top: 5%;
  left: 70px;
}

.genre-bars{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%; 
  height: 75%;
  margin-left: 100px;
  margin-bottom: 40px;
}



.genre{
  margin: 0;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 150px;
  height: 45px;
  text-align: center;
  margin-left: 40px;
  border-radius: 20px;
}

.genre-menu-title-container{
  height: 15%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: center;
  margin-bottom: 5px;
  margin-left: -180px;
  margin-top: 25px;
}

.genre-menu-title-container p{
  color: #38393a;
  font-size: 16px;
}

.genre-item{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  color: #e0e0e0;
}

.genre:hover{
  background: #23252bf3;
  backdrop-filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}

.home-container {
  position: fixed; 
  inset: 0;
  display: flex;
  background-size: cover;
  z-index: 0;
  filter: brightness(100%); 
}

.shadow{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 20;
  left: 0;
  box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 0.7); 
  background: #0d0e1290;
}


.anime-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  position: relative;
  height: 100%;
  color: #a8a8a8;
  text-align: start;
  z-index: 999;
  padding: 50px;
}

.anime-info {
  width: 80%;
  height: 80%;
  background: transparent;
  padding: 50px;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #a8a8a8;
}

.trendingAnimeAge{
  width: 40px;
  height: 30px;
  color: #fff;
  background-color: #38393a;
  border-radius: 5px;
  padding: 2px;
  font-size: 14px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}



.trendingAnimeDescription{
  font-size: 16px;
  margin-bottom: 15px;
  width: 350px;
  color: #fff;
}

.anime-button {
  background-image: linear-gradient(to right, #660000, #8c3308, #ae5f0b, #ca8d17, #e0be2e);
  color: #fff;
  padding: 8px 10px;
  border: none;
  width: 150px;
  justify-content: center;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  transition: .5s;
}

.anime-button img{
  margin-right: 10px;
}

.anime-button:hover {
  background: #fff;
  color: #660000;
  transition: .5s;
}


.karusel-container {
  width: 190vw; 
  overflow-x: hidden;
  background: #121316;
  height: 100vh;
  position: relative; 
  margin: 0;
  top: 100vh; 
  z-index: 1;
  padding-top: 20px; 

}


.karusel-title-container{
  width: 100%;
  color: #fff;
  display: flex;
  text-align: start;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
}

.karusel-title{
  font-size: 42px;
  margin-top: 70px;
  margin-left: 50px;
  font-family: "Bebas Neue", serif;
  font-weight: 500;
}

.karusel-items-container{
  width: 100%;
  margin: 0;  
  margin-top: 10px;
  transition: transform 0.5s ease-in-out
}

.karusel-left-btn{
  width: 30px;
  height: 60%;
  top: 20%;
  left: 0;
  position: absolute;
  color: #fff;
  transition: .5s;
  z-index: 10;


}

.karusel-left-btn img{
  margin-left: 10px;
}

.karusel-left-btn:hover{
  box-shadow: 15px 0px 18px 4px rgba(43,44,68,0.5);
  background-color: #2b2c4471;
  transition: .5s;
}

.karusel-right-btn{
  width: 30px;
  height: 60%;
  top: 20%;
  right: 47.9%;
  position: absolute;
  color: #fff;
  transition: .5s;
  z-index: 10;


}

.karusel-right-btn img{
  margin-right: 10px;
}

.karusel-right-btn:hover{
  box-shadow: -15px 0px 18px 4px rgba(43,44,68,0.5);
  background-color: #2b2c4471;
  transition: .5s;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); 
  gap: 12px; 
  padding: 16px;
}

.genre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  padding: 8px;
  width: 100vw;
  background: #0d0e12;
}

.genre-item-container{
  width: 70%;
}

.genre-title-container{
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-top: 100px;
  text-align: start;
  background: #0d0e12;
  position: relative;
}

.genre-title-container::after{
  position: absolute;
  content: '';
  width: 90%;
  height: 4px;
  top: 80px;
  left: 5%;
  background-image: linear-gradient(to right, #660000, #8c3308, #ae5f0b, #ca8d17, #e0be2e);
}

.genre-title{
  font-size: 24px;
  color: #fff;
  margin-left: 60px;
}

.card-hovered{
  display: flex;
  flex-direction: column;
  transition: .5s;
  opacity: 0;
  position: absolute;
  transition: .5s;
  height: 80%;
  width: 200px;
  background: #131418e9;
  text-align: start;
  padding: 20px 10px;
  margin-top: -50px;
}


.card-container:hover .card-hovered{
  opacity: 1;
}

.card-img{
  transition: .5s;

}


.card-container:hover .cardTitle{
  opacity: 0;
  transition: .5s;

}

.card-container:hover .cardEp{
  opacity: 0;
  transition: .5s;

}



.cardGenre .cardEp .cardTitle{
  transition: .5s;
}


.small-more-btn{
  width: 80px;
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(to right, #660000, #8c3308, #ae5f0b, #ca8d17, #e0be2e);
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 3px;
  transition: .5s;
}

.small-more-btn:hover{
  background: #fff;
  color: #660000;
  transition: .5s;
}

.small-back-btn{
  width: 80px;
  font-size: 14px;
  color: #fff;
  background-image: linear-gradient(to right, #660000, #8c3308, #ae5f0b, #ca8d17, #e0be2e);
  border-radius: 5px;
  margin-top: 5px;
  padding: 3px 3px;
  transition: .5s;
}

.small-back-btn:hover{
  background: #fff;
  color: #660000;
  transition: .5s;
}

.small-card{
  perspective: 1000px;
  margin-bottom: 20px;
}


.small-card-container {
  position: relative;
  align-items: center;
  border-radius: 10px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.small-card-container:hover{
  transform: scale(1.2);
}

.small-card-container.flipped {
  transform: rotateY(180deg);
}

.small-card-hovered, .small-card-front {
  position: absolute;
  left: 11px;
  top: 10px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.small-card-hovered {
  transform: rotateY(180deg);
  margin-left: -20px;
}

.anime-container{
  color: #fff;
}

.anime-img-container::before{
  position: absolute;
  z-index: 4;
  content: '';
  top: -20px;
  left: 0;
  width: 110%;
  height: 110%;
  background: #191919d9;
  filter: blur(30px);
}

.anime-img-container{
  position: relative;
  z-index: 3;
  margin-top: 70px;
}


.img-anime{
  filter: brightness(90%);
}

.anime-info-container{
  margin-top: 50px;
}

.anime-trailer-container{
  margin-left: 10%;
  position: "relative",

}

.anime-trailer-container h3{
  font-size: 24px;
  margin-bottom: 10px;
}

.watch-trailer-btn{
  width: 120px;
  padding: 5px 10px;
  background: #4d00dd;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  margin-top: 20px;
}

.anime-title{
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 10px;
}

.age-anime{
  color: #a8a8a8;
  margin-bottom: 10px;
}

.rating-info{
  margin-bottom: 10px;
}

.add-list-btn{
  color: #4d00dd;
  width: 235px;
  border: 3px solid #4d00dd;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 10px;
  font-weight: 500;
}

.img-add-list{
  margin-right: 3px;
}

.play-trailer-btn-container{
  position: absolute;
  content: '';
  right: 23%;
  top: 70%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #949494aa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.anime-description{
  width: 90%;
  margin-top: 20px;
  margin-bottom: 30px;
}

.anime-info-container{
  margin-bottom: 30px;
}

.production-anime-info{
  width: 90%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 60px;
  font-size: 14px;
  padding: 5px 5px;
}

.production-anime-info::before{
  position: absolute;
  width: 100%;
  height: 1px;
  background: #3b3c3c;
  content: '';
  left: 0;
  bottom: 0;
}

.production-title{
  font-size: 32px;
  margin-bottom: 10px;
  font-weight: 600;
}

.production-text{
  position: absolute;
  top: 20px;
  left: 0;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
}



.character-card{
  margin-right: 25px;
  width: 150px;
}

.character-info{
  width: 90%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.character-title{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 400;
}



.character-title-container{
  position: relative;
  margin-bottom: 20px;

}

.sort-container{
  position: relative;
}

.sort-text{
  font-size: 14px;
  color: #fff;
  z-index: 9;
}

.sort-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  position: absolute;
  content: '';
  width: 100%;
  height: 35px;
  top: 250px;
  left: 87vw;
  color: #fff;
}

.character-title-container::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #3b3c3c;
  bottom: -20px;
  left: 0;
}