@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #0d0e12;
  overflow-x: hidden;
}




@keyframes gradientShift {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}



html {
  scroll-behavior: smooth;
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}



@keyframes opacity{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.title-data-container {
  height: 50px;
  width: 100%;
  background: #23252b;
  bottom: 25px;
  text-align: start;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  box-shadow: 0px -5px 12px 10px rgba(35,37,43,1);
}




.play-big-btn{
  position: absolute;
  content: '';
  width: 30px;
  height: 30px;
  z-index: 8;
  left: 60px;
  top: 100px;
  opacity: 0;
  transition: .5s;
}









.reviews-section{
  top: 255vh; 
  position: relative; 
  background: #151618;
  width: 100vw;
    box-shadow: inset 10px 10px 10px #111115;

}

.reviews-component-container{
  padding-left: 90px;
}

.title-web-review::after{
  position: absolute;
  width: 40%;
  height: 2px;
  content: '';
  left: 30%;
  bottom: -3px;
  background-image: linear-gradient(to right, #8c5cf6, #934fe9, #9840db, #9c30cc, #9f19be);
}


.home-footer-container{
  position: relative;
    width: 100vw;

}

.card-seasonal-container{
  padding: 20px 50px;
}

#top-col{
  width: 22%;
}



.social-compoent-container{
  top: 285vh;
  z-index: 10;
  position: absolute;
  box-shadow: inset 0px 0px 50px #222225;


}









.skeleton-card {
  width: 170px;
  height: 300px;
  border-radius: 8px;
}

@keyframes pulse {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.animate-pulse {
  background-size: 400% 100%;
  animation: pulse 1.5s infinite linear;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}


.anime-detailed-info-container {
  position: relative;
  height: 590px;
  background: url(/img/back-amime.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden; 
}

.anime-detailed-info-container::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(10px); 
  background: rgba(35, 37, 43, 0.5); 
  box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.6); 
}

.inner-anime-detailed-info-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  height: 100%;
}

.inner-anime-content{
  width: 75%;
  display: flex;
  height: 50%;
}

.anime-detailed-text-content{
  color: #fff;
  padding: 20px;
  margin-left: 10px;
}

.anime-detailed-title{
  font-size: 24px;
  font-weight: 700;
}

.anime-detailed-category-container p{
  background-image: linear-gradient(to right, #8c5cf6, #934fe9, #9840db, #9c30cc, #9f19be);
  margin-right: 5px;
}

.character-card{
  margin-right: 25px;
  width: 150px;
}

.recomend-card{
  margin-right: 25px;
  width: 150px;
  border-radius: 10px;
  transition: .5s;
  display: flex;
  flex-direction: column;
}

.recomend-card:hover{
  transform: scale(1.1);
  transition: .5s;
}

.recomend-name{
  z-index: 3;
  font-size: 14px;
  font-weight: 300;
  width: 100%;
  
}

.img-recomend{
  height: 260px;
  border-radius: 10px;
}

.anime-action-buttons{
  display: flex;
}


.anime-action-btn{
  border: #fff 1px solid;
  transition: .5s;
}

.anime-action-btn:hover{
  background: #fff;
  transition: .5s;
  color: #0d0e12;
}

.anime-action-btn:hover a{
  color: #0d0e12;

}

.captcha{
  width: 300px;
  display: flex;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out forwards;
}

.log-out-container{
  height: 120px;
  width: 140px;
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 14px;
  padding: 8px 12px;
  background: #12131607;
  color: #fff;
  z-index: 1;
  top: 0px;
  left: -15px;
  border-radius: 20px;
  animation: fade-in .5s ease-in-out;
  transition: .5s;

}

.log-out-container:hover{
  color: #622ea4;
  transition: .5s;
}

.anime-detailed-buttons-container p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  border-radius: 3px;
  margin-top: 10px;
}

.user-anime-card{
  margin-right: 20px;
}

.anime-detailed-buttons-container p img{
  margin-right: 3px;
}

.play-icon {
  transition: filter 0.3s ease;
}


.anime-watch-trailer-btn:hover .play-icon {
  filter: brightness(0) saturate(100%) invert(9%) sepia(4%) saturate(378%) hue-rotate(202deg) brightness(97%) contrast(88%);
}

.bookmark {
  transition: filter 0.3s ease;
}

.anime-bookmark-btn:hover .bookmark {
  filter: brightness(0) saturate(100%) invert(6%) sepia(9%) saturate(417%) hue-rotate(203deg) brightness(97%) contrast(90%);
}

.anime-watch-trailer-btn{
  border: 1px #fff solid;
  transition: .5s;
}

.anime-detailed-description{
  margin-top: 20px;
  width: 900px;
  font-weight: 300;
  font-size: 14px;
}

.anime-watch-trailer-btn:hover{
  background: #fff;
  color: #0d0e12;
  transition: .5s;
}

.anime-bookmark-btn{
  transition: .5s;
}

.anime-bookmark-btn:hover{
  background: #fff;
  color: #0d0e12;
  transition: .5s;
}

.anime-detailed-genres-list p{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #8c5cf6 solid;
}

.search-input-box{
  background: #2b2d2d;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  animation: appear .3s ease-in-out;
}

.search-box{
  animation: appear .3s ease-in-out;

}

@keyframes appear{

  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #1c1d20;
  border-radius: 10px;
}

.character-info{
  width: 90%;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
}

.anime-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-container{
  width: 80vw;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.recomends-container{
  width: 80vw;
  display: flex;
  justify-content: center;
  z-index: 3;
}

.review-text{
  align-items: center;
  justify-content: center;
  width: 80%;
  font-weight: 300;
}

.anime-review-container{
  width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 3;
  margin-top: 60px;
}

.reviews-component-container-anime{
  width: 320vw;
}

.review-card{
  border-radius: 10px;
  position: relative;
  z-index: 5;
}

.review-card:hover .reviews-blur-cover{
  opacity: 1;
  transition: .5s;

}

.reviews-blur-cover{
  opacity: 0;
  top: 0;
  left: 0;
  transition: .5s;
  position: absolute;
  content: '';
  width: 99%;
  height: 100%;
  background: #22212120;
  z-index: 10;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.character-card{
  position: relative;
  border-radius: 10px;

}

.character-role{
  color: #fff;
  position: absolute;
  font-size: 14px;
  top: 5px;
  left: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  font-weight: 300;
}


.character-title-detailed{
  font-weight: 300;
  font-size: 12px;
  background: #1c1d20d4;
  padding: 2px 4px;
  border-radius: 3px;
}



.character-title{
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 400;
}

.reviews-tittle{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  position: relative;
}

.characters-tittle{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
  position: relative;
}

.recomends-tittle{
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-top: 40px;
  position: relative;
}
.recomends-tittle::before{
  width: 3px;
  background: #9c30cc;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: -10px ;
}


.reviews-tittle::before{
  width: 3px;
  background: #9c30cc;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: -10px ;
}

.characters-tittle::before{
  width: 3px;
  background: #9c30cc;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: -10px ;
}

.reviews-upper-container{
  justify-content: space-between;
}

.character-title-container{
  position: relative;
  margin-bottom: 20px;

}

.sort-container{
  position: relative;
}

.sort-text{
  font-size: 14px;
  color: #fff;
  z-index: 9;
}

.sort-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  position: absolute;
  content: '';
  width: 100%;
  height: 35px;
  top: 250px;
  left: 87vw;
  color: #fff;
}

.character-title-container::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #3b3c3c;
  bottom: -20px;
  left: 0;
}


.page-wrapper-login {
  position: relative;
  width: 100%;
  z-index: 2;
  height: 100vh;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.background-video-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 1s ease-in-out;

}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.container-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 828px;
  max-width: 95%;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.toggle-login {
  background: linear-gradient(to right, #131419, #1a1b22);
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
  position: relative;
  left: -100%;
  color: white;

}

.form-container-login span{
  font-size: 12px;
}

.toggle-panel-login h1{
  font-size: 24px;
  font-weight: 700;
}

.toggle-panel-login p{
  font-size: 12px;
  font-weight: 300;
}

.toggle-panel-login {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-align: center;
  transition: all 0.6s ease-in-out;
}

.toggle-left-login {
  transform: translateX(-200%);
}

.container-login.active-login .toggle-left-login {
  transform: translateX(0);
}

.toggle-right-login {
  right: 0;
  transform: translateX(0);
}

.container-login.active-login .toggle-right-login {
  transform: translateX(200%);
}

.container-login.active-login .toggle-login {
  transform: translateX(50%);
}

.form-container-login {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.6s ease-in-out;
  color: white;
  width: 100%;
}

.container-login input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffffaa;
  padding: 12px 10px;
  margin: 12px 0;
  width: 100%;
  color: white;
  outline: none;
  font-size: 14px;
}

.container-login input::placeholder {
  color: #ffffff77;
}

.container-login h1 {
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 24px;
  text-align: center;
}

.container-login button {
  border-radius: 20px;
  border: 1px solid #1a1b22;
  background-color: #1a1b22;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
  margin-top: 20px;
}

.container-login button:hover {
  background-color: #121216;
}

.container-login button.hidden-login {
  background-color: transparent;
  border-color: #fff;
}

.container-login a {
  color: #ddd;
  font-size: 14px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 20px;
}

.error-message-login {
  color: red;
  margin-top: 10px;
  font-size: 0.9rem;
}

.sign-in-login,
.sign-up-login {
  left: 0;
  width: 50%;
  z-index: 2;
}

.sign-up-login {
  opacity: 0;
  z-index: 1;
}

.container-login.active-login .sign-in-login {
  transform: translateX(100%);
}

.container-login.active-login .sign-up-login {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move-login 0.6s;
}

@keyframes move-login {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container-login {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.container-login.active-login .toggle-container-login {
  transform: translateX(-100%);
}

.video-overlay-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  
  z-index: 1;  
  backdrop-filter: blur(10px);
}

.background-video-wrapper-login {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.footer-containre{
  background: #131419;
  height: 340px;
  padding: 30px 40px;

}

.footer-info-container{
  width: 360px;
  height: 240px;
  background: #1a1b22;
  color: #fff;
  padding: 20px 30px;
}

.footer-info-container h2{
  font-size: 24px;
  font-weight: 700;
}

.footer-wrapper{
  position: relative;
  width: 100%;
  align-items: center;
}

.footer-aniverse-container{
  width: 60%;
}

#footer-col{
  display: flex;
  width: 240px;
  height: 240px;
  flex-direction: column;
  align-items: start;
  color: #fff;
  margin-right: 20px;
}

.footer-links{
  width: 100%;
  height: 90%;
  display: flex;
  font-size: 14px;
  margin-top: 10px;
  color: #929191;
  align-items: start;
  flex-direction: column;
}

.footer-link{
  margin-top: 10px;
}

#footer-col h2{
  font-size: 16px;
  font-weight: 700;
}

.text-footer{
  font-size: 12px;
}

.footer-additional-info{
  width: 100%;
  display: flex;
  margin-top: 20px;
  padding: 10px 20px;
  color: #929191;
  position: relative;
  font-size: 18px;
  justify-content: space-between;
}

.footer-additional-info::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 0.5px;
  left: 0;
  top: -5px;
  background: #444444;
}